<div class="page-header">
	<h1>Sign Up</br><small>Welcome to Spendsheet!</small>
	</h1>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

	<dl class="dl-horizontal">
	<dt><%= f.label :email %></dt><dd><%= f.email_field :email, :autofocus => true %></dd>
	</dl>

	<dl class="dl-horizontal">
	<dt><%= f.label :password %></dt><dd><%= f.password_field :password %></dd>
	</dl>

	<dl class="dl-horizontal">
	<dt><%= f.label :password_confirmation %></dt><dd><%= f.password_field :password_confirmation %></dd>
	</dl>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>