<tr>
  <td class = "span2"><%= expense.created_at.strftime(' %b %d / %y') %></td>
  <td class = "span8"><%= expense.category.name %></td>
  <td><%= number_to_currency(expense.amount) %></td>
  <td class = "span1">
    <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_expense_path(expense) %>
    <%= link_to '<i class="icon-remove"></i>'.html_safe, expense, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right" %>
  </td>
</tr>