<div class = "well">
<%= simple_form_for @expense do |f| %>
  <p><%= f.select :category, [['Food','food'],['Rent','rent'],['Beer','beer']] %></p>
  <p><%= f.input :amount %></p>
  <%= f.input :created_at, 
    as: :date, 
    start_year: Date.today.year - 1,
    end_year: Date.today.year + 1,
    order: [:day, :month, :year] 
  %>
    </br>
  <%= button_tag(type: "submit", class: "btn") do %>
   <i class="icon-plus-sign"></i> Add Entry
<% end %>
<% end %>
</div>