<div class="page-header">
	<h1><small>Hello!</small></br>Check out what you've spent...
    <div class = "pull-right">
      <%= link_to "Create a New Entry", new_expense_path, :class => "btn btn-primary btn-large" %>
    </div>
  </h1>
</div>

<div class = "row demo-tiles">
<!-- Today -->
	<div class = "span4">
		<div class = "tile">
			<h1>Today</h1>
			<h3><%= Date.today.strftime("%A, %B %-d") %></h3>
			<% total_sum = [] %>
			<% @sorted_daily_expenses.each do |expense| %>
				<% total_sum.push(expense.amount) %>
			<% end %>
			<% sum = total_sum.inject('+') %>
			<% sum = '0.00' if sum.nil? %>
			</br>
			<a href="#dailyexpensemodal" role="button" class="btn btn-large" data-toggle="modal"><%= number_to_currency(sum) %></a>
		</br></br></br>
		</div>
	</div>
<!-- Weekly -->
	<div class = "span4">
		<div class = "tile">
			<h1>This Week</h1>
			<h3><%= (Date.today - 7.day).strftime("%B %-d") + " - " + Date.today.strftime("%B %d") %></h3>
			<% total_sum = [] %>
			<% @sorted_weekly_expenses.each do |expense| %>
				<% total_sum.push(expense.amount) %>
			<% end %>
			<% sum = total_sum.inject('+') %>
			<% sum = '0.00' if sum.nil? %>
			</br>
			<a href="#weeklyexpensemodal" role="button" class="btn btn-large" data-toggle="modal"><%= number_to_currency(sum) %></a>
			</br></br></br>
		</div>
	</div>
<!-- Monthly -->
	<div class = "span4">
		<div class = "tile">
			<h1>This Month</h1>
			<h3><%= Date.today.strftime("%B %Y") %></h3>
			<% total_sum = [] %>
			<% @sorted_monthly_expenses.each do |expense| %>
				<% total_sum.push(expense.amount) %>
			<% end %>
			<% sum = total_sum.inject('+') %>
			<% sum = '0.00' if sum.nil? %>
			</br>
			<a href="#monthlyexpensemodal" role="button" class="btn btn-large" data-toggle="modal"><%= number_to_currency(sum) %></a>
			</br></br></br>
		</div>
	</div>
</div>



<!-- Modals -->
<!-- Daily -->
<div id="dailyexpensemodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Today</h3>
  </div>
  <div class="modal-body">
    <table class = "table">
    	<thead>
        <tr>
          <th class = "span2">Date</th>
          <th class = "span7">Category</th>
          <th>Amount</th>
          <th class = "span1"></th>
        </tr>
    	</thead>
      	<tbody>
          <% total_sum = [] %>
          <% @sorted_daily_expenses.each do |expense| %>
            <tr>
              <td class = "span2"><%= expense.created_at.strftime('%b %d') %></td>
              <td class = "span8"><%= expense.category %></td>
              <td><%= number_to_currency(expense.amount) %></td>
              <td class = "span1"><%= link_to '<i class="icon-remove"></i>'.html_safe, expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% total_sum.push(expense.amount) %>
            <% end %>
            <tr class = "info">
              <td class = "span2"><h4>Total</h4></td>
              <td class = "span8"></td>
              <% sum = total_sum.inject('+') %>
              <% sum = '0.00' if sum.nil? %>
              <td><h4><%= number_to_currency(sum) %></h4></td>
              <td></td>
            </tr>
            <% if sum == '0.00' %>
              <div>
      	  	    <div class="alert">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>You haven't made any entries yet!</strong>
      		      </div>
              </div>
            <% end %>
        </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
</div>
</div>

<!-- Weekly -->
<div id="weeklyexpensemodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">This Week</h3>
  </div>
  <div class="modal-body">
    <table class = "table">
	<thead>
    <tr>
      <th class = "span2">Date</th>
      <th class = "span7">Category</th>
      <th>Amount</th>
      <th class = "span1"></th>
    </tr>
	</thead>
	<tbody>
  <% total_sum = [] %>
  <% @sorted_weekly_expenses.each do |expense| %>
  <tr>
    <td class = "span2"><%= expense.created_at.strftime('%b %d') %></td>
    <td class = "span8"><%= expense.category %></td>
    <td><%= number_to_currency(expense.amount) %></td>
    <td class = "span1"><%= link_to '<i class="icon-remove"></i>'.html_safe, expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
    <% total_sum.push(expense.amount) %>
<% end %>
  <tr class = "info">
    <td class = "span2"><h4>Total</h4></td>
    <td class = "span8"></td>
    <% sum = total_sum.inject('+') %>
    <td><h4><%= number_to_currency(sum) %></h4></td>
    <td></td>
</tbody>
</table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!-- Monthly -->
<div id="monthlyexpensemodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">This Month</h3>
  </div>
  <div class="modal-body">
    <table class = "table">
	<thead>
    <tr>
      <th class = "span2">Date</th>
      <th class = "span7">Category</th>
      <th>Amount</th>
      <th class = "span1"></th>
    </tr>
	</thead>
	<tbody>
  <% total_sum = [] %>
  <% @sorted_monthly_expenses.each do |expense| %>
  <tr>
    <td class = "span2"><%= expense.created_at.strftime('%b %d') %></td>
    <td class = "span8"><%= expense.category %></td>
    <td><%= number_to_currency(expense.amount) %></td>
    <td class = "span1"><%= link_to '<i class="icon-remove"></i>'.html_safe, expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
    <% total_sum.push(expense.amount) %>
<% end %>
  <tr class = "info">
    <td class = "span2"><h4>Total</h4></td>
    <td class = "span8"></td>
    <% sum = total_sum.inject('+') %>
    <td><h4><%= number_to_currency(sum) %></h4></td>
    <td></td>
</tbody>
</table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>