<h1>Expenses List</h1>

<table class = "table">
	<thead>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Amount</th>
      <th></th>
    </tr>
	</thead>
	<tbody>
<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.created_at %><%= expense.id %></td>
    <td><%= expense.category %></td>
    <td><%= expense.amount %></td>
    <td><%= link_to 'Remove Entry', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>