<% content_for :chartkick do %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% end %>

<div class = "page-header">
  <h1><small>Monthly Summary</small></br>
    <%= @date.strftime("%B %Y") %>
      <div class = "pull-right">
        <%= link_to "Create a New Entry", new_expense_path, :class => "btn btn-primary btn-large" %>
      </div>
  </h1>
</div>

  <%= form_tag("/expenses/monthly", method: "get") do %>
    <%= label_tag("Month") %>
    <%= select_month(Date.today) %>
    <%= label_tag("Year") %>
    <%= select_year(Date.today) %>
    <%= submit_tag("Submit") %>
  <% end %>

<%= line_chart @monthly_expenses.select("month(created_at)").group("date(created_at)").sum("amount") %>

<table class = "table">
	<thead>
    <tr>
      <th class = "span2">Date</th>
      <th class = "span7">Category</th>
      <th>Amount</th>
      <th class = "span1"></th>
    </tr>
	</thead>
	<tbody>
  <%= render partial: "expense", collection: @sorted_monthly_expenses, as: :expense %>
  <tr class = "info">
    <td class = "span2"><h4>Total</h4></td>
    <td class = "span8"></td>
    <td><h4><%= number_to_currency(Expense.sum_expenses(@sorted_monthly_expenses)) %></h4></td>
    <td></td>
</tbody>
</table>