<div class = "page-header">
  <h1>Add an Expense</h1>
</div>

<div class = "well">
<%= simple_form_for @expense do |f| %>
	<p>Category</p>

  <div><%#= collection_select(:expense, :category_id, @current_user.categories, :id, :name ) %></div>
  <div><%= f.text_field :category_name, data: {autocomplete_source: @current_user.categories.order(:name).map(&:name)}  %></div>

	<p><%= f.input :amount %></p>

  <p>Created At</p>

	<%= f.text_field :created_at, :class => 'datepicker' %>
    </br>
	<%= button_tag(type: "submit", class: "btn btn-large") do %>
   <i class="icon-plus-sign"></i> Add Entry
<% end %>
<% end %>
</div>