<div class = "page-header">
  <h1>Add an Expense</h1>
</div>

<div class = "well">
  <%= form_for @expense do |f| %>
    <p>Category</p>
    <div><%= f.text_field :category_name, data: {autocomplete_source: @current_user.categories.order(:name).map(&:name)}  %></div>

    <p>Amount</p>
    <div><%= f.text_field :amount %></div>

    <p>Created At</p>
    <div><%= f.text_field :created_at, :class => 'datepicker' %></div>

    <br>
    
    <div>
    	<%= button_tag(type: "submit", class: "btn btn-large") do %>
        <i class="icon-plus-sign"></i> Add Entry
      <% end %>
    </div>

  <% end %>
</div>