<div class = "page-header">
  <h1><small>Yearly Summary</small></br>
    <div class="dropdown inline-block">
      <a href="#" class="dropdown-toggle title-link" data-toggle="dropdown"><%= @date.strftime("%Y") %>&nbsp<i class="icon-caret-down"></i></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <div class="select-month">
            <%= form_tag("/expenses/yearly", method: "get") do %>
            <%= label_tag("Year") %>
            <%= select_year(Date.today) %>
              <br>
            <%= submit_tag("Submit") %>
            <% end %>
          </div>
        </ul>
    </div>
      <div class = "pull-right">
        <%= link_to "Create a New Entry", new_expense_path, :class => "btn btn-primary btn-large" %>
      </div>
  </h1>
</div>

<table class = "table">
	<thead>
    <tr>
      <th class = "span2">Date</th>
      <th class = "span7">Category</th>
      <th>Amount</th>
      <th class = "span1"></th>
    </tr>
	</thead>
	<tbody>
  <%= render partial: "expense", collection: @sorted_yearly_expenses, as: :expense %>
  <tr class = "info">
    <td class = "span2"><h4>Total</h4></td>
    <td class = "span8"></td>
    <td><h4><%= number_to_currency(Expense.sum_expenses(@sorted_yearly_expenses)) %></h4></td>
    <td></td>
</tbody>
</table>

