<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
      <div class="nav-collapse collapse" id="nav-collapse-01">
        <ul class="nav">
          <li><%= link_to '<i class="icon-table icon-large"></i> Spendsheet'.html_safe, root_path %></li>
          <li><%= link_to 'Expenses', expenses_path %>
            <ul>
              <li><%= link_to 'Monthly Summary', expenses_monthly_path %></li>
              <li><%= link_to 'Yearly Summary', expenses_yearly_path %></li>
              <li><%= link_to 'All Entries', expenses_path %></li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class= "nav pull-right">
        <% if user_signed_in? %>
          <li><a href="#">Settings</a>
            <ul>
              <li><%= link_to 'Edit Account', edit_user_registration_path(current_user) %></li>
              <li><%= link_to 'Manage Categories', categories_path %>
            </ul>
          </li>
          <li>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign Up', new_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Sign In', new_user_session_path %>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>